<header>

        <div class="row">
            <div class="col-md-2">
                <div class="header__logo">
                    <img src="/images/logo.png">
                    <span>ADMIN - VIETTASK</span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="header__info dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Mr Viet
                        <img src="/images/avarta.png">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">
                        <span class="glyphicon glyphicon-user"></span>                         
                        Thông tin cá nhân</a></li>
                      <li><a href="#">
                        <span class="glyphicon glyphicon-log-out"></span>                          
                        Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>

</header>