<main>
        <div class="row">
            <div class="col-md-2">
                <%-include('sidebar')%> 
            </div>


            <div class="col-md-10">
                <div class="main__content">
                    <!-- <%-include('../dashboard/main')%>  -->
                    <%-include('../'+main)%> 
                </div>


                <%-include('footer')%> 
            </div>
        </div>
  
</main>