<div class="main_sidebar">
    <ul>
        <li><a href="/admin/bang-dieu-khien/index">
            <span class="glyphicon glyphicon-home"></span>
            Bảng điều khiển
            </a>
        </li>
        <li><a href="/admin/danh-muc/index">
            <span class="glyphicon glyphicon-th-large"></span>
            Danh mục
            </a>
        </li>
        <li><a href="/admin/san-pham/index">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Sản phẩm
            </a>
        </li>
        <li><a href="/admin/thanh-vien/index">
            <span class="glyphicon glyphicon-user"></span>
            Thành viên
            </a>
        </li>
    </ul>
</div>