<h1>Bảng điều khiển</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <a href="/admin/danh-muc/index">
            <div class="common-block">
            <span class="glyphicon glyphicon-th-large"></span>
            <h3>Danh Mục</h3>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/admin/san-pham/index">
            <div class="common-block">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <h3>Sản phẩm</h3>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/admin/thanh-vien/index">
            <div class="common-block">
            <span class="glyphicon glyphicon-user"></span>
            <h3>Thành viên</h3>
            </div>
        </a>
    </div>
</div>