.main__content {
    min-height: 95vh;
    padding: 20px 0;

}

.main__content a {
    text-decoration: none;
    color: black;
}

.common-block {
    border:1px solid #aaaaaa;
    border-radius:5px;
    background: #c7c7c7;
    text-align: center;
    padding :20px;
    color: dimgrey;
}

.common-block:hover {
    background: white;
    color:#3279b7;
    border:1px solid #3279b7;
}

.common-block:hover .glyphicon{
    color: #3279b7;
}

.common-block .glyphicon {
    font-size:40px;
    color: #aaaaaa;
}